.dialog {
  .dialogTitle {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);

    h3 {
      color: var(--text);
    }

    .closeBtn {
      padding: 3px;
      color: var(--primary);
    }
  }

  .dialogBody {
    padding: 10px 20px;
    background-color: var(--secondary);

    .formGroup {
      label {
        color: var(--text);
        font-size: 17px;
        margin-bottom: 10px;
      }
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
}
