body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Color Theme */
:root {
  /* --background: #fff; */
  --primary: #0898fc;
  --text: #fff;
  --grey: #637381;
  --danger: #f0b8b3;
  --success: skyblue;
  --background: #161c24;
  --secondary: #212b36;
  --tertiary: #282b35;
}
